---
Title: Quartz.LightCore
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Quartz.LightCore is a binding to use <a href="https://github.com/JuergenGutsch/LightCore">LightCore</a> as DI container when using <a href="https://www.quartz-scheduler.net/">Quartz.NET</a>.
    </p>
</div>